<!--  For demo purpose -->
<div class="container text-center text-white">
    <div class="container py-5">
    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="card rounded-0 border-0 shadow">
                <div class="card-body p-5">
                    <!--  Bootstrap table-->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>    
                            <tbody>
                                <tr *ngFor="let data of allgetUser">
                                    <th scope="row">{{data.id}}</th>
                                    <td>{{data.name}}</td>
                                    <td>{{data.email}}</td>
                                    <td>{{data.address}}</td>
                                    <td> <button class="btn-danger p-1 mx-2 rounded" (click)="deleteUser(data)"> Delete</button>
                                         <button class="btn-success p-1 rounded" data-bs-toggle="modal" data-bs-target="#editFormModel" (click)="editUser(data)"> Edit </button>
                                     </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Add rows button-->
                    <a class="btn btn-primary rounded-0 btn-block" id="insertRow" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Add User</a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ADD USER FORM Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- FORM ADD  -->
          <form class="" [formGroup]="formValue">
            <div class="mb-3">
                <input type="text" class="form-control" formControlName = "name" id="exampleInputEmail1" placeholder="Enter user name" aria-describedby="emailHelp">
              </div>
            <div class="mb-3">
                <input type="email" class="form-control" formControlName ="email" id="exampleInputEmail1"  placeholder="Enter email" aria-describedby="emailHelp">
              </div>
              <div class="mb-3">
                <input type="text" placeholder="Enter address" formControlName = "address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              </div>
          </form>

            <!-- END FORM ADD -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="addUser()" class="btn btn-primary">Add User</button>
        </div>
      </div>
    </div>
  </div>




  <!-- EDIT USER FORM Modal -->
<div class="modal fade" id="editFormModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- FORM EDIT  -->
        <form class="" [formGroup]="formValue">
          <div class="mb-3">
              <input type="text" class="form-control" formControlName = "name" id="exampleInputEmail1" placeholder="Enter user name" aria-describedby="emailHelp">
            </div>
          <div class="mb-3">
              <input type="email" class="form-control" formControlName ="email" id="exampleInputEmail1"  placeholder="Enter email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <input type="text" placeholder="Enter address" formControlName = "address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </form>

          <!-- END FORM ADD -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="updateUser()" class="btn btn-primary" data-bs-dismiss="modal">Update User</button>
      </div>
    </div>
  </div>
</div>

